{%
  set id_class = [
    attributes.id|clean_id,
    'sidebar'
  ]
%}
{% block content %}
  <div{{ attributes.removeClass('clearfix').addClass(id_class)|without('role', 'aria-labelledby') }}>
    {{ title_prefix }}
    {% if label %}
      <h5{{ title_attributes.addClass('block-title') }}>{{ label }}</h5>
    {% endif %}
    {{ title_suffix }}
    {{ content }}
  </div>
{% endblock %}
