<div id="{{carousel.id}}" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
	{% for item in carousel.bs_item %}
		<button 
			type="button" 
			data-bs-target="#{{carousel.id}}" 
			data-bs-slide-to="{{item.current}}" 
			class="{{item.active}}" 
			aria-current="{{item.status}}">
		</button>
	{% endfor %}
  </div>
  <div class="carousel-inner">
    {% for item in carousel.slide_item %}
			<div class="carousel-item {{item.active}}" style="background-image: url({{item.src}})">
				<div class="carousel-container">
					<div class="carousel-caption">
						{% if item.top_caption %}
							{% include "@atoms/text/_heading-6.twig" with {
								heading: item.top_caption				
							} only %}
						{% endif %}
						{% if item.heading %}
							{% include "@atoms/text/_heading-1.twig" with {
								heading: item.heading				
							} only %}
						{% endif %}
						{% if item.description %}
							{% include "@atoms/text/_paragraph.twig" with { 
								paragraph: item.description 
							} only %}
						{% endif %}
						{% if item.button %}
							{% include "@atoms/button/_button.twig" with { 
								button: item.button 
							} only %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
  </div>
  {% if carousel.controls %}
	  <button class="carousel-control-prev" type="button" data-bs-target="#{{carousel.id}}" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#{{carousel.id}}" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	  </button>
  {% endif %}
</div>