        <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
    <script src="{{ paths.assets }}/app.js?cacheBuster={{ random() }}"></script>
    <script src="{{ paths.assets }}/js/custom/bootstrap.bundle.min.js?cacheBuster={{ random() }}"></script>
    <script src="{{ paths.assets }}/js/custom/slick.min.js?cacheBuster={{ random() }}"></script>
    <script src="{{ paths.assets }}/js/custom/common.js?cacheBuster={{ random() }}"></script>
</body>
</html>
