<div{{ attributes }}>
  <div class="{{ before.class }}">
    {% if before.create %}
      {{ before.description }}
      {% include "@components/modal/_modal-popup.twig" with {
        modalPopup: {
          modalButton_click: true,
          href: attribute(before.create, '#modal_id'),
          title: attribute(before.create, '#title'),
          class: 'highwire-modal-trigger btn btn-primary btn-sm',
          buttonText: attribute(before.create, '#title'),
          popupdata: attribute(after.create, 'sign_up_form'),
          modaltargetid: "highwire-tags-create",
          modalHeading: {
              text: attribute(before.create, '#title'),
              level: 5,
              class: "modal-title"
          },
          closeButton: {
              text: "Close",
              closemodal: "modal"
          }
        }
      } %}
      {{ before.list_tools }}
    {% else %}
      {{ before }}
    {% endif %}
  </div>
  <div{{ content_attributes }}>
    {{ content }}
  </div>

  {% if after %}
    {% include "@components/modal/_modal-popup.twig" with {
      modalPopup: {
        modalButton_click: true,
        href: "#highwire-tags-create",
        title: attribute(after.create, '#trigger_title'),
        class: 'highwire-modal-trigger btn btn-primary btn-sm',
        buttonText: attribute(after.create, '#trigger_title'),
        popupdata: attribute(after.create, 'sign_up_form'),
        modaltargetid: "highwire-tags-create",
        modalHeading: {
            text: attribute(after.create, '#trigger_title'),
            level: 5,
            class: "modal-title"
        },
        closeButton: {
            text: "Close",
            closemodal: "modal"
        }
      }
    } %}
  {% endif %}
</div>
