{% if issue_url %}<a href="{{ issue_url }}">{% endif %}
{% for field in fields -%}
  {% set field_suffix = loop.index < loop.length ? ', ' : '' %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{- field.content -}}</{{ field.element_type }}>{{ field_suffix }}
  {%- else -%}
    {{ field.content }}{{ field_suffix }}
  {%- endif %}
{%- endfor %}
{% if issue_url %}</a>{% endif %}