<div class="container">
	<div class="footer-row">
		<div class="footer-col">
			{{ footer_1 }}
		</div>
		<div class="footer-col">
			<div class="footer-menu"> 
				{{ footer_2 }} 
			</div>
			<div class="footer-menu">
				{{ footer_3 }} 
			</div>
			<div class="footer-menu">
				{{ footer_4 }}
			</div>
			<div class="footer-menu">
				{{ footer_5 }}
			</div>			
		</div>
	</div>
	{% if footer_bottom %}
		{% include "@components/footer/_footer-bottom.twig" %}
	{% endif %}
</div>	